.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin:0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-container section.info {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}


.register-container section.info h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.register-container section.info p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 75px;
}


.register-container section.form {
    width: 100%;
    margin-right: 30px;
}

.register-container section.form form {
    margin-top: 75px;
    margin-left: 25px;
    margin-bottom: 45px;
}

.register-container section.form form h1 {
    font-size: 28px;
    margin-bottom: 20px;
}


.register-container section.form form  div.row {
	flex-direction: row;
	display: flex;
}


.register-container section.form form > div.row  div + div {
	margin-left: 20px;
}

.register-container section.form form > div.row div {
	flex: 1;
}

.register-container section.form form > div.row > div > .col-3 {
	flex: 3;
}

.register-container section.form form > div.row input, select {
    margin-top: 5px;
    margin-bottom: 20px;
}


.register-container section.form p{
    font-size: 18px;
}

.register-container section.form  a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #6999EA;
}
